# Week 3 Question 1

In [1]:
import pandas as pd

In [2]:
import requests
html = requests.get('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.').text

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html,'html.parser')

In [4]:
df = pd.read_html(str(soup.table))[0]

In [5]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[df['Borough'] != 'Not assigned']

In [6]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
def check_neighbourhood(x):
    if x['Neighbourhood'] == 'Not assigned':
        x['Neighbourhood'] = x['Borough']
    return x

In [7]:
df.apply(check_neighbourhood, axis=1)

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [8]:
df.sort_values('Postcode')

    Postcode      Borough   Neighbourhood
10       M1B  Scarborough           Rouge
11       M1B  Scarborough         Malvern
28       M1C  Scarborough      Port Union
27       M1C  Scarborough      Rouge Hill
26       M1C  Scarborough  Highland Creek
..       ...          ...             ...
231      M9V    Etobicoke     Mount Olive
233      M9V    Etobicoke   South Steeles
234      M9V    Etobicoke     Thistletown
232      M9V    Etobicoke     Silverstone
244      M9W    Etobicoke       Northwest

[210 rows x 3 columns]

In [9]:
# More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
df2 = df.groupby(['Postcode','Borough']).agg({'Neighbourhood': lambda x: ', '.join(x)}).reset_index()

In [10]:
df2

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [11]:
df2.shape

(103, 3)